@use "variables" as v;

// I made this mixin just for practice!
@mixin link-transition($speed: 0.2s) {
  transition: $speed linear;
}

@mixin logo-style {
  color: v.$color-black;
  font-size: 5rem;
  transition: 0.2s linear;
}

@mixin flex-gap($gap: 3rem) {
  display: flex;
  gap: $gap;
}

@mixin text-gap($word: 1rem, $letter: 1rem) {
  word-spacing: $word;
  letter-spacing: $letter;
}

@mixin btn-style {
  color: v.$color-grey;
  text-decoration: none;
}

@mixin blue-polygon(
  $color: v.$color-white,
  $bg-color: v.$color-skyblue,
  $padding-tb: 1.5rem,
  $padding-lr: 2.5rem,
  $polygon: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%)
) {
  color: v.$color-white;
  background-color: $bg-color;
  padding: $padding-tb $padding-lr;
  clip-path: $polygon;
}

@mixin border-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@mixin border-bottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
