// *******************************************
// Color
// *******************************************
$color-white: #fff;
$color-white-dark: #f7f7f7;
$color-white-dark-2: #eee;
$color-grey-light: #ccc;
$color-grey: #888;
$color-grey-dark: #777;
$color-black-light: #333;
$color-black: #222;

$color-skyblue: #6db8e9;
