// *******************************************
// Color
// *******************************************
$color-white: #fff;
$color-white-dark: #f7f7f7;
$color-white-dark-2: #eee;
$color-grey-light: #9c9c9c;
$color-grey-light-2: #ccc;
$color-grey: #888;
$color-grey-dark: #777;
$color-black-light: #333;
$color-black: #222;

$color-skyblue: #6db8e9;

$color-yellow: #e6bf21;
// *******************************************
// Length
// *******************************************
$padding-section: 7% 15%;
$padding-footer: 2% 0;
