*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem "Lato", sans-serif;
}

.heading-primary {
  font-size: 4.2rem;
  margin: 1rem 0;
  word-spacing: 1rem;
  letter-spacing: 1rem;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7rem;
}
.heading-secondary__blue-bg {
  color: #fff;
  background-color: #6db8e9;
  padding: 1.5rem 2.5rem;
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}

.heading-tertiary {
  padding: 0.2rem;
  font-size: 2.3rem;
  text-transform: capitalize;
  color: #333;
}

.paragraph {
  color: #9c9c9c;
}

.container {
  display: flex;
  gap: 3rem;
}
.container--whyus {
  margin-top: 7rem;
  justify-content: space-between;
}
.container--inventory {
  width: 100%;
  flex-wrap: wrap;
}

.btn {
  color: #888;
  text-decoration: none;
}
.btn--inventory {
  padding: 0.5rem 1rem;
  border: solid 1px #888;
  border-radius: 5px;
  transition: 0.2s linear;
}
.btn--inventory:hover {
  background-color: #888;
  color: #fff;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
}
.header__bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation: zoomInOut 5s 2s linear infinite;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo-icon {
  color: #222;
  font-size: 5rem;
  transition: 0.2s linear;
}
.nav__logo-icon:hover {
  transform: scale(1.2);
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav__link {
  text-transform: capitalize;
  font-size: 1.9rem;
  text-decoration: none;
  color: #222;
  transition: 0.2s linear;
}
.nav__link:hover {
  color: #888;
}
.nav__icon {
  color: #222;
  font-size: 2.5rem;
  transition: 0.2s linear;
}
.nav__icon:hover {
  color: #888;
}

.hero-box {
  position: absolute;
  top: 70%;
  right: 0;
  transform: translate(-25%, -50%);
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  word-spacing: 1rem;
  letter-spacing: 1rem;
}
.hero-box__new-sign {
  float: right;
  width: 84%;
  padding: 1rem 0;
  margin-right: 1rem;
  border-left: solid 1rem #6db8e9;
  background-color: rgba(34, 34, 34, 0.7);
  font-size: 2rem;
}
.hero-box__model-name {
  font-size: 2.5rem;
}
.hero-box__start-from {
  margin: 1rem 0;
}
.hero-box__price {
  font-size: 3rem;
}

.section-whyus {
  background-color: #fff;
  padding: 5% 15%;
}

.feature {
  flex-basis: 15%;
  text-align: center;
}
.feature__icon {
  font-size: 4rem;
  color: #e6bf21;
  display: inline-block;
  background-color: #888;
  width: 7rem;
  height: 7rem;
  line-height: 1.7;
  border-radius: 3.5rem;
}
.feature__name {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem 0;
}
.feature__blue-hr {
  border: none;
  width: 50%;
  height: 5px;
  background-color: #6db8e9;
  margin: 0 auto 2rem;
}

.section-inventory {
  background-color: #ccc;
  padding: 5% 15%;
}

.categories {
  text-transform: uppercase;
  float: right;
  list-style: none;
  margin-bottom: 6rem;
  display: flex;
  gap: 1rem;
}

.inventory {
  font-size: 1.8rem;
}
.inventory-item {
  flex: 1 1 30%;
  list-style: none;
}
.inventory-item__link {
  transition: 0.2s linear;
}
.inventory-item__link:hover {
  filter: brightness(110%);
}
.inventory-item__img {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.inventory-item__details {
  padding: 2rem;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  background-color: #fff;
  display: flex;
  gap: 3rem;
}
.inventory-item__detail {
  flex-direction: column;
}
.inventory-item__maker {
  font-weight: 800;
  margin-bottom: 1rem;
}
.inventory-item__price {
  transition: 0.2s linear;
  color: #fff;
  background-color: #6db8e9;
  padding: 1.5rem 2.5rem;
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}
.inventory-item__price:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.inventory-item__sorts {
  background-color: #eee;
  padding: 2rem;
  list-style: none;
  justify-content: space-between;
  display: flex;
  gap: 3rem;
}
.inventory-item__sort-icon {
  margin-right: 0.7rem;
}

.section-banner {
  background: url(../img/ad.jpg) center/cover fixed;
  padding: 3% 15%;
}

.banner {
  display: flex;
  align-items: center;
}
.banner__box {
  padding: 3rem;
  display: flex;
  gap: 3rem;
}
.banner__box--left {
  background-color: rgba(230, 191, 33, 0.7);
}
.banner__box--right {
  background-color: rgba(109, 184, 233, 0.7);
}
.banner__link {
  display: flex;
  align-items: center;
}
.banner__icon {
  font-size: 6rem;
  color: #6db8e9;
  transition: 0.5s linear;
}
.banner__icon:hover {
  transform: translateY(-20px);
}
.banner__icon::before {
  display: inline-block;
  text-decoration: none;
}
.banner__paragraph {
  margin-top: 1rem;
  color: #fff;
}

.section-featured {
  background-color: #ccc;
  padding: 5% 15%;
}

.featured {
  display: flex;
  gap: 3rem;
}
.featured__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1 1 50%;
  list-style: none;
}
.featured__link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 2rem 1rem;
  color: #888;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #eee;
  text-transform: capitalize;
  transition: 0.4s linear;
}
.featured__link:hover {
  transform: scale(1.05);
  background-color: #fff;
}
.featured__icon {
  color: #e6bf21;
  margin-right: 1rem;
  font-size: 2.5rem;
}
.featured__brand {
  font-weight: 800;
}
.featured__img-box {
  flex: 1 1 50%;
  overflow: hidden;
  position: relative;
  background-color: #6db8e9;
}
.featured__img-box:hover .featured__img {
  opacity: 0.3;
  transform: scale(1.3);
}
.featured__img-box:hover .featured__img-icon {
  opacity: 1;
}
.featured__img-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  opacity: 0;
  transition: 0.5s linear;
}
.featured__img {
  width: 100%;
  height: 100%;
  transition: 0.5s linear;
}

/*# sourceMappingURL=style.css.map */
