@use "abstracts/mixins" as m;
@use "abstracts/variables" as v;

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Extra Large 2300px to ~ */
@media only screen and (min-width: 2300px) {
  html {
    font-size: 75%;
  }

  .featured__link {
    padding: 3rem 1rem;
  }

  .card-service {
    flex-basis: 26%;
  }
}

/* Default range */

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
  html {
    font-size: 55%;
  }

  .card-service {
    padding: 4rem 3rem;
    &__icon {
      font-size: 5rem;
    }
  }
}

/* Large Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
  html {
    font-size: 48%;
  }

  .heading-primary {
    font-size: 3.8rem;
  }

  .heading-tertiary {
    font-size: 2.2rem;
  }

  .section-inventory {
    padding: 7% 10%;
  }

  .container--inventory {
    gap: 2rem;
  }

  .inventory-item__details,
  .inventory-item__sorts {
    gap: 1rem;
  }

  .section-banner {
    padding: 7% 10%;
  }

  .featured__link {
    padding: 1.5rem;
  }

  .section-testimonial {
    padding: 7% 10%;
  }
}

/* Large Phone to Tablet: 403px ~ 847px */

/* Extra small phone to Phone: 0px ~ 402px*/

/* *************************************** */
/* Img Responsive Stlye */
/* *************************************** */
