@use "abstracts/mixins" as m;
@use "abstracts/variables" as v;

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Extra Large 2300px to ~ */
@media only screen and (min-width: 2300px) {
  html {
    font-size: 75%;
  }

  .featured__link {
    padding: 2.8rem 1rem;
  }

  .card-service {
    flex-basis: 26%;
  }
}

/* Default range */

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
  html {
    font-size: 55%;
  }

  .featured__link {
    padding: 2rem 1rem;
  }

  .card-service {
    padding: 4rem 3rem;
    &__icon {
      font-size: 5rem;
    }
  }
}

/* Large Tablet to Laptop: 848px ~ 1323px */

/* Large Phone to Tablet: 403px ~ 847px */

/* Extra small phone to Phone: 0px ~ 402px*/

/* *************************************** */
/* Img Responsive Stlye */
/* *************************************** */
