@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

// ********************************************************************
// General Style
// ********************************************************************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem "Lato", sans-serif;
}

// ********************************************************************
// Utility Style
// ********************************************************************
.heading-primary {
  font-size: 4.2rem;
  margin: 1rem 0;
  @include m.text-gap;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7rem;

  &__blue-bg {
    @include m.blue-polygon;
  }
}

.heading-tertiary {
  padding: 0.2rem;
  font-size: 2.7rem;
  text-transform: capitalize;
  color: v.$color-black-light;
}

.heading-quaternary {
  font-size: 2.3rem;
  text-transform: uppercase;
  @include m.link-transition(0.5s);
}

.paragraph {
  color: v.$color-grey-light;
}

.container {
  @include m.flex-gap;
  &--whyus {
    margin-top: 7rem;
    justify-content: space-between;
  }

  &--inventory {
    width: 100%;
    flex-wrap: wrap;
  }

  &--service {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    @include m.blue-polygon(
      $bg-color: transparent,
      $padding-lr: 5%,
      $padding-tb: 15%,
      $polygon: polygon(0% 13%, 100% 3%, 100% 89%, 0% 99%)
    );
  }
}

.btn {
  @include m.btn-style;

  &--inventory {
    padding: 0.5rem 1rem;
    border: solid 1px v.$color-grey;
    border-radius: 5px;
    @include m.link-transition;

    &:hover {
      background-color: v.$color-grey;
      color: v.$color-white;
    }
  }
}

// ********************************************************************
// header Style
// ********************************************************************
.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);

  &__bg-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    animation: zoomInOut 5s 2s linear infinite;
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }

    30% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.3);
    }

    70% {
      transform: scale(1);
    }

    100% {
      transform: scale(1);
    }
  }
}

.nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: rgba(v.$color-white, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    &-icon {
      @include m.logo-style;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__list {
    list-style: none;
    @include m.flex-gap;
  }

  &__link {
    text-transform: capitalize;
    font-size: 1.9rem;
    text-decoration: none;
    color: v.$color-black;
    @include m.link-transition;

    &:hover {
      color: v.$color-grey;
    }
  }

  &__icon {
    color: v.$color-black;
    font-size: 2.5rem;
    @include m.link-transition;

    &:hover {
      color: v.$color-grey;
    }
  }
}

.hero-box {
  position: absolute;
  top: 70%;
  right: 0;
  transform: translate(-25%, -50%);
  color: v.$color-white;
  text-align: right;
  text-transform: uppercase;
  @include m.text-gap;

  &__new-sign {
    float: right;
    width: 84%;
    padding: 1rem 0;
    margin-right: 1rem;
    border-left: solid 1rem v.$color-skyblue;
    background-color: rgba(v.$color-black, 0.7);
    font-size: 2rem;
  }

  &__model-name {
    font-size: 2.5rem;
  }

  &__start-from {
    margin: 1rem 0;
  }

  &__price {
    font-size: 3rem;
  }
}

// ********************************************************************
// Section-whyus Style
// ********************************************************************
.section-whyus {
  background-color: v.$color-white;
  padding: v.$padding-section;
}

.feature {
  flex-basis: 15%;
  text-align: center;

  &__icon {
    font-size: 4rem;
    color: v.$color-yellow;
    display: inline-block;
    background-color: v.$color-grey;
    width: 7rem;
    height: 7rem;
    line-height: 1.7;
    border-radius: 3.5rem;
  }

  &__name {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  &__blue-hr {
    border: none;
    width: 50%;
    height: 5px;
    background-color: v.$color-skyblue;
    margin: 0 auto 2rem;
  }
}

// ********************************************************************
// Section-inventory Style
// ********************************************************************
.section-inventory {
  background-color: v.$color-grey-light-2;
  padding: v.$padding-section;
}

.categories {
  text-transform: uppercase;
  float: right;
  list-style: none;
  margin-bottom: 6rem;
  @include m.flex-gap(1rem);
}

.inventory {
  font-size: 1.8rem;

  &-item {
    flex: 1 1 30%;
    list-style: none;

    &__link {
      @include m.link-transition;

      &:hover {
        filter: brightness(110%);
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: 25rem;
      object-fit: cover;
      @include m.border-top;
    }

    &__details {
      padding: 2rem;
      justify-content: space-between;
      text-transform: uppercase;
      align-items: center;
      background-color: v.$color-white;
      @include m.flex-gap;
    }

    &__detail {
      flex-direction: column;
    }
    &__maker {
      font-weight: 800;
      margin-bottom: 1rem;
    }

    &__price {
      @include m.link-transition;
      @include m.blue-polygon(0.5rem, 0.5rem);

      &:hover {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    &__sorts {
      background-color: v.$color-white-dark-2;
      padding: 2rem;
      list-style: none;
      justify-content: space-between;
      @include m.flex-gap;
      @include m.border-bottom;
    }

    &__sort {
      &-icon {
        margin-right: 0.7rem;
      }
    }
  }
}

// ********************************************************************
// Section-banner Style
// ********************************************************************
.section-banner {
  background: url(../img/ad.jpg) center/cover fixed;
  padding: 3% 15%;
}

.banner {
  display: flex;
  align-items: center;
  border-radius: 3px;

  &__box {
    padding: 3rem;
    @include m.flex-gap;

    &--left {
      flex-basis: 50%;
      background-color: rgba(v.$color-yellow, 0.7);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &--right {
      flex-basis: 50%;
      background-color: rgba(v.$color-skyblue, 0.7);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 6rem;
    color: v.$color-skyblue;
    @include m.link-transition(0.5s);

    &:hover {
      transform: translateY(-20px);
    }

    &::before {
      display: inline-block;
      text-decoration: none;
    }
  }

  &__paragraph {
    margin-top: 1rem;
    color: v.$color-white;
  }
}

// ********************************************************************
// Section-featured Style
// ********************************************************************
.section-featured {
  background-color: v.$color-grey-light-2;
  padding: v.$padding-section;
}

.featured {
  @include m.flex-gap;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 50%;
    list-style: none;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 2rem 1rem;
    color: v.$color-grey;
    font-size: 2rem;
    border-radius: 10px;
    background-color: v.$color-white-dark-2;
    text-transform: capitalize;
    @include m.link-transition(0.4s);

    &:hover {
      transform: scale(1.05);
      background-color: v.$color-white;
    }
  }

  &__icon {
    color: v.$color-yellow;
    margin-right: 1rem;
    font-size: 2.5rem;
  }

  &__brand {
    font-weight: 800;
  }

  &__img-box {
    flex: 1 1 50%;
    overflow: hidden;
    position: relative;
    background-color: v.$color-skyblue;

    &:hover .featured__img {
      opacity: 0.3;
      transform: scale(1.3);
    }

    &:hover .featured__img-icon {
      opacity: 1;
    }
  }

  &__img-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    opacity: 0;
    @include m.link-transition(0.5s);
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    @include m.link-transition(0.5s);
  }
}

// ********************************************************************
// Section-gallery Style
// ********************************************************************
.section-gallery {
  padding: v.$padding-section;
}

.gallery {
  @include m.flex-gap;

  &__box-left {
    flex: 1 1 50%;
  }

  &__link {
    position: relative;
    display: inline-block;
    background-color: transparent;

    @include m.link-transition(0.7s);

    &:hover {
      background-color: rgba(v.$color-yellow, 0.4);
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;

      top: 0;
      left: 0;
      outline: solid 0.8rem v.$color-white;
      outline-offset: -3rem;
      transform: scale(0);
      @include m.link-transition(0.7s);
    }

    &:hover::before {
      transform: scale(1);
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 3px;
  }

  &__box-right {
    flex: 1 1 50%;
    flex-wrap: wrap;
    @include m.flex-gap;

    & > * {
      flex: 1 1 35%;
    }
  }
}

// ********************************************************************
// Section-submit Style
// ********************************************************************
.section-submit {
  background: url(../img/form-bg.jpg) center/cover fixed;
  padding: v.$padding-section;
  overflow: hidden;
}

.form {
  width: 50%;
  margin: 0 auto;
  flex-direction: column;

  &__input {
    border: solid 1px v.$color-yellow;
    border-radius: 3px;
    background-color: transparent;
    color: v.$color-yellow;

    &--email {
      text-transform: capitalize;
      padding: 2rem 1.5rem;
      font-size: 2rem;

      &::placeholder {
        color: v.$color-yellow;
      }

      &:focus {
        outline: solid 2px v.$color-skyblue;
      }
    }

    &--btn {
      padding: 0.7rem 0;
      font-size: 1.7rem;
      text-transform: uppercase;
      cursor: pointer;
      @include m.link-transition;

      &:hover {
        background-color: v.$color-yellow;
        color: v.$color-black;
      }
    }
  }
}

// ********************************************************************
// Section-submit Style
// ********************************************************************
.section-service {
  padding: 8% 2%;

  &__video {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    height: 99%;
    z-index: -3;
    object-fit: cover;
  }

  &__video-overlay {
    width: 100%;
    height: 99%;
    z-index: -1;
    position: absolute;
    top: 3%;
    left: 0;
    background-color: rgba(v.$color-skyblue, 0.6);
  }
}

.cards {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.card-service {
  flex-basis: 35%;
  padding: 6rem 3rem;
  background-color: v.$color-black-light;
  border-radius: 3px;
  @include m.link-transition(0.5s);

  &__icon {
    display: block;
    color: v.$color-yellow;
    font-size: 7rem;
    @include m.link-transition(0.5s);
  }

  &__text {
    text-transform: capitalize;
    font-size: 2rem;
    margin: 1rem 0;
    @include m.link-transition(0.5s);
  }

  &:hover {
    background-color: v.$color-white-dark;
  }

  &:hover > * {
    transform: translateX(2%);
  }

  &:hover > *:not(.card-service__icon) {
    color: v.$color-black;
  }
}

// ********************************************************************
// Section-testimonial Style
// ********************************************************************
.section-testimonial {
  padding: v.$padding-section;
  padding-top: 0;
}

.testimonial {
  flex-basis: 1 1 30%;
  position: relative;
  @include m.link-transition(0.5s);

  &:hover {
    transform: scale(1.1);
  }

  &__bg-img {
    width: 100%;
    height: 25rem;
    @include m.border-top;

    &--left {
      background: url(/coding/resources/img/testimonial-bg1.jpg) center/cover;
    }

    &--middle {
      background: url(/coding/resources/img/testimonial-bg2.jpg) center/cover;
    }

    &--right {
      background: url(/coding/resources/img/testimonial-bg3.jpg) center/cover;
    }
  }

  &__profile-img {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
    border: solid 2px v.$color-grey;
    border-radius: 4rem;

    &--left {
      background: url(/coding/resources/img/customer1.jpg) center/cover;
    }

    &--middle {
      background: url(/coding/resources/img/customer2.jpg) center/cover;
    }

    &--right {
      background: url(/coding/resources/img/customer3.jpg) center/cover;
    }
  }

  &__profile-info {
    text-align: center;
    padding: 5rem 3.5rem 2rem;
    color: v.$color-grey-light;
    border: solid 2px v.$color-grey-light-2;
    @include m.border-bottom;
  }

  &__name {
    font-size: 2rem;
    color: v.$color-skyblue;
    text-transform: capitalize;
  }

  &__job {
    text-transform: capitalize;
    padding: 1rem 0;
  }

  &__icon {
    color: v.$color-grey-light;
    font-size: 3rem;
    margin-top: 2rem;
  }
}

// ********************************************************************
// Footer Style
// ********************************************************************
.footer {
  background-color: v.$color-grey-dark;
  padding: v.$padding-footer;
  text-align: center;

  &__logo {
    &-icon {
      @include m.logo-style;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__copyright {
    width: 25%;
    margin: 0 auto;
    padding-top: 1rem;
    border-top: solid 2px v.$color-black;
  }
}
