@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

// ********************************************************************
// General Style
// ********************************************************************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem "Lato", sans-serif;
}

// ********************************************************************
// Utility Style
// ********************************************************************

// ********************************************************************
// header Style
// ********************************************************************
